【例2.1】成绩求和案例。

In [ ]:
chinese=79
maths=88
english=96
total=chinese+maths+english
print('总分：',total)

【例2.2】获取Python关键词代码案例。

In [ ]:
import keyword
print(keyword.kwlist)

【例2.3】列表数据与获取单个元素。

In [ ]:
my_list = [1, 2, 3, 4, 5]
element = my_list[2]  # 获取列表中索引为2的元素，结果为 3

【例2.4】元组数据与获取单个元素。

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
element = my_tuple[2]  # 获取元组中索引为2的元素，结果为 3

【例2.5】字符串数据与获取单个元素。

In [ ]:
my_string = "Hello, World!"
character = my_string[7]  # 获取字符串中索引为7的字符，结果为 "W"

【例2.6】list、tuple、str数据与元素切片。

In [ ]:
my_list = [1, 2, 3, 4, 5]
subset = my_list[1:4]  # 获取索引1到3的子集，结果为 [2, 3, 4]
my_tuple = (1, 2, 3, 4, 5)
subset = my_tuple[1:4]  # 获取索引1到3的子集，结果为 (2, 3, 4)
my_string = "Hello, World!"
subset = my_string[7:12]  # 获取索引7到11的子集，结果为 "World"

In [ ]:
 【例2.8】集合元素的增删。

In [ ]:
   my_set = {1, 2, 3}
   my_set.add(4)  # 结果为 {1, 2, 3, 4}
   my_set.update([4, 5, 6])  # 结果为 {1, 2, 3, 4, 5, 6}
   my_set.remove(3)  # 结果为 {1, 2, 4, 5, 6}
   my_set.discard(5)  # 结果为 {1, 2, 4, 6}
   my_set.pop()  # 随机移除一个元素并返回，结果可能为 {1, 2, 4} 等
   my_set = {1, 2, 3, 4, 5}
   my_set.clear()  # 结果为 set()

 【例2.8】集合元素的增删。

In [ ]:
   my_set = {1, 2, 3}
   my_set.add(4)  # 结果为 {1, 2, 3, 4}
   my_set.update([4, 5, 6])  # 结果为 {1, 2, 3, 4, 5, 6}
   my_set.remove(3)  # 结果为 {1, 2, 4, 5, 6}
   my_set.discard(5)  # 结果为 {1, 2, 4, 6}
   my_set.pop()  # 随机移除一个元素并返回，结果可能为 {1, 2, 4} 等
   my_set = {1, 2, 3, 4, 5}
   my_set.clear()  # 结果为 set()

【例2.18】条件语句 (if-elif-else)示例。输入一个数字，判断它的正负零状态。

In [ ]:
num = float(input("请输入一个数字："))
# 条件语句
if num > 0:
    print("这是一个正数")
elif num == 0:
    print("这是零")
else:
    print("这是一个负数")

【例2.19】列表遍历例子：

In [ ]:
my_list = [1, 2, 3, 4, 5]
for item in my_list:
    print(item)

In [ ]:
【例2.20】while循环语句示例。

In [ ]:
# 计算阶乘的例子
# 获取用户输入
num = int(input("请输入一个非负整数: "))
# 初始化结果
factorial = 1
# 使用 while 循环计算阶乘
while num > 0:
    factorial *= num
    num -= 1
# 输出结果
print("阶乘是:", factorial)

In [ ]:
【例2.21】break、continue用法示例。

In [ ]:
# 使用 break 结束循环
print("使用 break 结束循环:")
for i in range(10):
    if i == 5:
        print("遇到 i 等于 5，退出循环")
        break
    print(i)

# 使用 continue 跳过部分循环
print("\n使用 continue 跳过部分循环:")
for i in range(10):
    if i % 2 == 0:
        print("遇到偶数，跳过本次循环")
        continue
print(i)

In [ ]:
    【例2.23】函数的返回值示例：

In [ ]:
   def add(x, y):
       return x + y
   result = add(3, 4)  # result 的值为 7
   result

In [ ]:
        【例2.25】Series对象创建示例。

In [ ]:
   import pandas as pd
   data = [1, 2, 3, 4, 5]
   series = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])
   series

In [ ]:
【例2.26】DataFrame对象创建示例。

In [ ]:
import pandas as pd
# 创建DataFrame对象
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)

# 显示DataFrame
print("整个DataFrame:")
print(df)
print("\n")

# 访问列数据
print("列数据:")
print(df['Name'])  # 访问 'Name' 列
print(df['Age'])   # 访问 'Age' 列
print(df['City'])  # 访问 'City' 列
print("\n")

# 访问行数据
print("行数据:")
print(df.loc[0])  # 访问第一行
print(df.loc[2])  # 访问第三行
print("\n")

# 使用行列索引访问特定元素
print("特定元素:")
print(df.at[1, 'Name'])  # 访问第二行、'Name' 列的元素

In [ ]:
【例2.27】DataFrame对象基本操作。

In [ ]:
   df.head()  # 返回前几行数据
   df['Name']  # 获取 'Name' 列的数据
   df[df['Age'] > 30]  # 获取年龄大于 30 的行

In [ ]:
df.to_csv('data.csv',index=False)

In [ ]:
   【例2.28】DataFrame数据输入输出示例。

In [ ]:
   # 从CSV文件导入数据
   df = pd.read_csv('data.csv')
   # 将数据导出为Excel文件
   df.to_excel('data.xlsx', index=False)

In [ ]:
df

In [ ]:
   【例2.30】DataFrame数据可视化示例（）。

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
# 创建DataFrame对象
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 30,35],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
df['Age'].plot(kind='hist')
plt.show()

In [ ]:
【例2.29】DataFrame数据的处理。

In [ ]:
# 去除重复值
df = df.drop_duplicates()
# 填充缺失值
df['Age'].fillna(df['Age'].mean(), inplace=True)
# 进行分组统计
df_grouped = df.groupby('City')['Age'].mean()
df_grouped

In [ ]:
    【例2.31】Matplotlib绘图示例。

In [ ]:
   import matplotlib.pyplot as plt
   x = [1, 2, 3, 4, 5]
   y = [2, 3, 5, 7, 11]
   plt.plot(x, y)
   plt.show()

In [ ]:
     【例2.32】Matplotlib自定义图形示例：

In [ ]:
   plt.plot(x, y, marker='o', color='blue', linestyle='dashed', linewidth=2, label='Prime Numbers')
   plt.xlabel('x')
   plt.ylabel('y')
   plt.title('Prime Numbers Plot')
   plt.legend()
   plt.show()

In [ ]:
【例2.33】Matplotlib绘制图形案例

In [ ]:
import matplotlib.pyplot as plt
# 绘制饼图
labels = ['A', 'B', 'C', 'D', 'E']
sizes = [15, 20, 25, 10, 30]
plt.pie(sizes, labels=labels, autopct='%1.1f%%', startangle=140)
plt.show()

In [ ]:
   【例2.34】Matplotlib图形输出为图片文件。

In [ ]:
      plt.savefig('plot.jpg')